.main-text {
  display: flex;
  flex-direction: column;
  min-height: 152px;
  width: 100%;
}

.main-price {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  width: 100%;
  height: 94px;
}

.title {
  position: relative;
  flex-grow: 1;
  margin-top: 10px;
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 0px;
}

.price {
  align-self: flex-start;
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: auto;
  margin-top: auto;
  font-weight: 500;
}

.main-body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  margin-left: 14px;
  margin-right: 14px;
}

.buy {
  align-self: flex-end;
  height: 60px;
  width: 100px;
	font-weight: 700;
  font-size: 1rem;
  color: #FC8272;
	border-radius: 25px;
	position: absolute;
  bottom: 16px;
  right: 16px;
	overflow: hidden;
	border: 0;
  outline:0;
  background-color: #FFDACD;
  cursor: pointer;
  margin: auto;
  /* box-shadow: 0 5px 18px rgba(255, 218, 205, 0.9); */
}

.desc {
  text-align: justify;
}

.card-section {
  margin-top: 30px;
  padding-bottom: 30px;
  align-items: start;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 260px);
  justify-content: center;
}

.card-place {
  position: relative;
  width: 100%;
  padding-top: 100%;
  padding-bottom: 152px;
}

.card-frame {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.card {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: white;
}

.card-frame[data-cardopen="true"] {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.card-content-frame {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.card-content-frame[data-cardopen="true"] {
  overflow-y: scroll;
}

.card-content {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
}

/* .card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
} */

.card-img {
  position: absolute;
  top: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 0px;
}

/* .card-img[data-cardopen="true"] {
  border-radius: 25px;
} */

/* .card-img[data-imageloaded="true"] {
  opacity: 1;
} */

.img-place {
  user-select: none;
  position: relative;
  padding-top: 100%;
  width: 100%;
  overflow: hidden;
}

.img-place[data-cardopen="true"] {
  width: 260px;
  padding-top: 260px;
  margin-top: 14px;
  margin-left: 14px;
}

.card-open-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 900px) {
  .card-section {
    grid-template-columns: repeat(2, 42%);
  }

  .card:hover {
    transform: inherit;
    box-shadow: inherit;
  }

  .card-frame[data-cardopen="true"] {
    top: 0;
  }
}

@media (max-width: 500px) {
  .img-place {
    overflow: hidden;
    padding-top: 100vw;
    width: 100vw;
    margin-top: -10%;
  }

  .img-place[data-cardopen='true'] {
    padding-top: 100%;
    width: 100%;
    margin-top: inherit;
    margin-left: inherit;
    margin-bottom: inherit;
  }
  .card-section {
    grid-template-columns: repeat(1, 90%);
  }

  /* .card-content-frame {
    overflow: hidden;
    height: 100%;
    width: 100vw;
  } */
}