#cart-buttons {
  position:relative;
  text-align:center;
  margin-top: 30px;
}

.form__group{
  margin-top: 30px;
}
.form__input {
  position: relative;
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 900px;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

@media (max-width: 1000px) {
  .form__input {
    width: 90%;
  }
}