.title {
  position: absolute;
  top: 52%;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 500;
}

.buy {
  position: absolute;
  height: 54px;
  width: 100px;
  bottom: 20px;
  right: 20px;
  background-color: #e3e7fc;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
}

.buy:active {
  transform: scale(0.9);
  background-color: #d7ddf8;
}

.buy_text {
  user-select: none;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 600;
  color: #505ce1;
}

.price {
  position: absolute;
  bottom: 32px;
  margin-left: 20px;
  font-weight: 700;
  font-size: 22px;
}

.card-section {
  margin-top: 30px;
  align-items: start;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 260px);
  justify-content: center;
}

.card-place {
  position: relative;
  width: 100%;
  height: 400px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
}

/* .card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
} */

.card[data-cardopen="true"] {
  position: fixed;
  left: 0;
  top: 0;
  border-radius: 0px;
  z-index: 1;
}

.card-img {
  opacity: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  /* transition: opacity 1s ease; */
}

.card-img[data-imageloaded="true"] {
  opacity: 1;
}

.img-place {
  user-select: none;
  position: absolute;
  top: 0px;
  height: 50%;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.img-skeleton {
  position: absolute;
  height: 100%;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

@media (max-width: 1000px) {
  .card-section {
    grid-template-columns: repeat(2, 42%);
  }

  .card:before {
    padding-bottom: 100%;
  }

  .card:hover {
    transform: inherit;
    box-shadow: inherit;
  }

  .title {
    position: absolute;
    top: 20px;
    margin-left: 20px;
  }

  .buy {
    width: 80%;
    height: 80px;
    right: 50%;
    transform: translateX(+50%);
  }

  /* .price {
      position: absolute;
      bottom: 120px;
      margin-left: 20px;
      font-weight: 600;
      font-size: 32px;
    } */

  .card-img {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .img-place {
    height: 100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}

@media (max-width: 600px) {
  .card-section {
    grid-template-columns: repeat(1, 86%);
  }
}
