.logo {
  padding-left: 20px;
  padding-right: 40px;
  width: 200px;
  height: 80px;
}

.nav {
  display: inline-flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}

.nav-space {
  height: 80px;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #83818c;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  text-decoration: none;
  margin: 0 6px;
  font-weight: 500;
  position: relative;
}

.nav-item:not(.is-active):hover { color: #333; }

.nav-item:before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #dfe2ea;
  border-radius: 8px 8px 0 0;
  opacity: 0;
  transition: 0.3s;
}

.nav-item:not(.is-active):hover:before {
  opacity: 1;
  bottom: 0;
}

.nav-line {
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 5px;
  border-radius: 8px 8px 0 0;
}

@media (max-width: 900px) {
  .nav-space {
    height: 0;
  }

  .nav {
    position: relative;
    height: 80px;
  }

  .nav-item {
    display: none;
  }
}