@import url('https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap');

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

* {
  font-family: 'DM Sans', sans-serif;
}

body {
  background-color: #E9EBF0;
  margin: 0 auto;
  padding-bottom: 40px;
}

.smooth {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.3, 0, 0.4, 1);
  transition-timing-function: cubic-bezier(0.3, 0, 0.4, 1);
  opacity: 0;
}

.smooth.loaded {
  opacity: 1;
}