@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  font-family: 'DM Sans', sans-serif;
}

body {
  background-color: #e9ebf0;
  margin: 0 auto;
}

.noscroll-body {
  overflow-y: hidden;
  max-height: 100%;
  -webkit-overflow-scrolling: touch;
}

.noscroll {
  overflow-y: hidden;
  max-height: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fullscreen {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main {
  margin-top: 80px;
}
