@media (max-width: 900px) {
  .indicator {
    display: none;
  }
  .nav-item {
    display: none;
  }
  .btn {
    display: block;
  }

  .card-section {
    grid-template-columns: repeat(2, 42%);
  }

  .card:hover {
    transform: inherit;
    box-shadow: inherit;
  }
}

@media (max-width: 500px) {
  .img-place {
    overflow: visible;
  }

  .img-place[data-cardopen="true"] {
    padding-top: 100%;
    width: 100%;
    margin-top: inherit;
    margin-left: inherit;
    margin-bottom: inherit;
  }
  .card-section {
    grid-template-columns: repeat(1, 90%);
  }

  .card-content-frame {
    overflow: hidden;
    height: 100%;
    width: 100vw;
  }
}
