@media (max-width: 900px) {
  .card-frame[data-cardopen="true"] {
    top: 0;
    height: 100%;
  }

  .nav-space {
    height: 0;
  }

  .nav {
    position: relative;
    height: 80px;
    z-index: 0;
  }

  .trackY {
    background: rgba(0,0,0,0) !important;
    pointer-events: none;
  }

  .nav-item {
    display: none;
  }

  .floating-button {
    display: block;
  }

  .card-section {
    grid-template-columns: repeat(2, 42%);
  }

  .card:hover {
    transform: inherit;
    box-shadow: inherit;
  }
}

@media (max-width: 500px) {
  .img-place {
    overflow: hidden;
    padding-top: 100vw;
    width: 100vw;
    margin-top: -10%;
  }

  .img-place[data-cardopen="true"] {
    padding-top: 100%;
    width: 100%;
    margin-top: inherit;
    margin-left: inherit;
    margin-bottom: inherit;
  }
  .card-section {
    grid-template-columns: repeat(1, 90%);
  }

  /* .card-content-frame {
    overflow: hidden;
    height: 100%;
    width: 100vw;
  } */
}
